<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
 <!-- wp:group {"style":{"spacing":{"blockGap":"0","padding":{"right":"0","left":"0","top":"0","bottom":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
<!-- wp:pattern {"slug":"dental/banner-hero"} /-->
<!-- wp:pattern {"slug":"dental/partners"} /-->
<!-- wp:pattern {"slug":"dental/impression"} /-->
<!-- wp:pattern {"slug":"dental/about-us"} /-->
<!-- wp:pattern {"slug":"dental/smile"} /-->
<!-- wp:pattern {"slug":"dental/dental-care"} /-->
<!-- wp:pattern {"slug":"dental/teams"} /-->
<!-- wp:pattern {"slug":"dental/testimonials"} /-->
<!-- wp:pattern {"slug":"dental/look-it"} /-->
<!-- wp:pattern {"slug":"dental/faq"} /-->
<!-- wp:pattern {"slug":"dental/single-post"} /-->
<!-- wp:pattern {"slug":"dental/ten-off"} /-->




</div>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->

